@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    body {
      background: white;
    }
    
    .print-preview {
      page-break-before: always;
    }
    
    .print-area {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    
    button {
      display: none; /* Hide buttons during printing */
    }
  }
  